$green-1: #60b15a;
$green-2: #265c22;
$light: #f7f9f7;
$yellow-1: #f9f7e8;
$brown-1: #524e30;
$dark: #202c5c;
$dark-1: #202c5c;
$dark-2: #60685f;
$primary: #60b15a;
$success: #28A745;
$danger: #DC5F60;
$warning: #E4AF5E;
$light-grey: #000000;
$yellow: #fcdc34;
$red: #fc4c34;
$grey: #60685f;
$lightgrey: #f0f1f0;
$dangerous: #ffefef;
